* {
    list-style:none;
    box-sizing:border-box;

}

ul {
    padding:0;
}


.top-wrapper h1 {
    font-family:Yu Kantei;
    font-size: 44px;
    color:black;
    text-align:center;
}

.top-pict {
    background-image:url(https://thumb.ac-illust.com/3d/3d74237af0712639d661a4bce694c45c_w.jpg);
    color:rgba(255,255,255,0);
    font-size:50px;
}

.top-wrapper p {
    height:50px;
    background:linear-gradient(#f11111,rgb(240, 80, 80));
    text-align:center;
}

.sijo {
    color:rgb(247, 244, 105);
    font-size:32px;
}

.main-menu {
    margin-top:20px;
    font-size:28px;
    text-align:center;
    display:flex;
}

.button {
    background:linear-gradient(rgb(241, 124, 124),rgb(241, 46, 46));
    color:white;
    text-decoration:none;
    opacity:0.7;
}

.button:hover {
    opacity:1;
}

.button:active {
    background: coral;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
    color:red;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}

.contents p {
    margin-top:60px;
    border-bottom:3px solid red;
    font-size:20px;
    font-family:fantasy;
    font-weight:bold;
    text-align:center;
}

.content {
    text-align:center;
    display:flex;
}

.content ul {
    flex:auto;
}

.price {
    list-style:none;
    display:inline-block;
}

.pict{
    background-repeat:repeat-x;
    background-image:url(C:\Users\Massa\試験フォルダ\.vscode\images\p_b_ornament_106_1M.jpg);
    width:80px;
    margin-right:10px;
    margin-left:10px;
}

.menu {
    text-align:center;
    width:10%;
}

.bar {
    text-align:center;
    width:5%;
}
.price {
    text-align:center;
    width:5%;
}

.drink {
    padding-bottom:50px;
    border-bottom:2px solid red;
}

.container {
    display:flex;
    margin-top: 10px;
    margin-bottom:10px;
}

.container-right{
    flex:15%;
    width:15%;
    max-width:calc(1000*0.15)px;
    background-image:url(https://pbs.twimg.com/media/EZZvKJVUEAINgCe?format=jpg&name=large);
}

.container-center {
    flex:70%;
    margin:0 auto;
    max-width:1000px;
}

.container-left {
    flex:15%;
    width:15%;
    max-width:calc(1000*0.15)px;
    background-image:url(https://pbs.twimg.com/media/EZZvKJVUEAINgCe?format=jpg&name=large);
}

.outro-back {
    position:relative;
    height:120px;
    background-image:url(https://pbs.twimg.com/media/EZZvKJVUEAINgCe?format=jpg&name=large);
}
.outro {
    line-height:114px;
    text-align:center;
    border:3px groove coral;
    border-radius:80%;
    font-size:20px;
    background-color:white;
}

.outro-tab {
    line-height:114px;
    text-align:center;
    border:1px solid coral;
    border-radius:20%;
    font-size:14px;
    background-color:white;
}

.info {
    margin-top:50px;
    margin-bottom:0;
    border:1px solid gray;
    font-weight:bold;
    background: linear-gradient(transparent 0%, #d120ff 75%);
}

.outro span {
    color:chocolate;
}

.outro-tab span {
    color:chocolate;
}

.add {
    margin-top:0;
    margin-bottom:0;
    border:1px solid gray;
}

.acces {
    margin-top:0;
    margin-bottom:0;
    border:1px solid gray;
    font-size:20px;
}

.phone-number {
    margin-top:0;
    margin-bottom:80px;
    border:1px solid gray;
}

.fa {
    margin-right: 5px;
    margin-left: 5px;
}
.number {
    font-size:25px;
    font-weight:bold;
}

.caution {
    opacity:0.5;
    color:red;
}

footer {
    height:20px;
    background:linear-gradient(rgb(137, 223, 230),rgb(22,88,231));
    text-align:center;
}

.forsmart {
    background:linear-gradient((#f11111,rgb(240, 80, 80));
    color:white;
}
